.landing-section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Impact, sans-serif, sans-serif;
}
.landing-section h1 {
    font-size: 6em;
    color: #003366;
    margin-bottom: 30px;
}
.landing-section p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333333;
    margin-bottom: 40px;
}
.landing-section nav {
    text-align: center;
    margin-bottom: 40px;
}
.landing-section nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.landing-section nav li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}
.landing-section nav a {
    color: #045104;
    text-decoration: underline;
    font-size: 1.2em;
}
.landing-section h2 {
    font-size: 2em;
    color: #024e7a;
    margin-bottom: 20px;
}

.footer-section {
    width: 100%;
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}
.footer-section .footer-links {
    margin-bottom: 10px;
}
.footer-section .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.footer-section .copyright {
    font-size: 0.8em;
}